{{call 'setupLayoutData'}}

<section id="{{anchor_id}}" 
class="
foxgallary 
xm:my-10 my-15" 
style="">

<div 
class="
foxgallary__wrapper 
xm:w-11/12 w-8/12 
mx-auto">

    <h2 
    class="
    block
    font-semibold 
    mb-5 
    text-2xl">
    {{this.foxtitle}}
    </h2>

    <div 
    class="
    fox-gallary 
    grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 
    gap-4 
    text-center">


              <div 
              class="
              image-cont 
              border-2 border-blue-200 
              rounded-md p-3 
              flex flex-col justify-around items-center">
                  <img 
                  src="{{this.foxgallary.0.url}}" 
                  class="w-[70%] sm:w-[70%] md:w-[50%] lg:w-[50%] xl:w-[50%]" 
                  alt=""
                  aria-hidden="true" />
                  <div>
                  <h3 
                  class="
                  mt-10 font-semibold">
                  {{this.foxnamelist.0.foxname}}
                  </h3>
                  <p 
                  class="
                  mt-5 w-[98%] mx-auto text-left
                  text-left text-sm sm:text-sm md:text-base lg:text-lg xl:text-lg">
                  {{this.foxdescriptions.0.foxdescription}}
                  </p>
                  </div>
              </div>  

            <div 
            class="
            image-cont 
            border-2 border-blue-200 
            rounded-md p-3 
            flex flex-col justify-around items-center">
                  <img 
                  src="{{this.foxgallary.1.url}}" 
                  class="w-[80%] sm:w-[80%] md:w-[60%] lg:w-[60%] xl:w-[60%]" 
                  alt=""
                  aria-hidden="true" />
                  <div>
                  <h3 
                  class="mt-10 font-semibold">
                  {{this.foxnamelist.1.foxname}}
                  </h3>
                  <p 
                  class="
                  mt-5 w-[98%] mx-auto text-left
                  text-left text-sm sm:text-sm md:text-base lg:text-lg xl:text-lg">
                  {{this.foxdescriptions.1.foxdescription}}
                  </p>
                  </div>
              </div>  
            <div 
            class="
            image-cont 
            border-2 border-blue-200 
            rounded-md p-3 
            flex flex-col justify-around items-center">
                  <img 
                  src="{{this.foxgallary.2.url}}" 
                  class="w-[80%] sm:w-[80%] md:w-[60%] lg:w-[60%] xl:w-[60%]" 
                  alt=""
                  aria-hidden="true" />
                  <div>
                  <h3 
                  class="mt-10 font-semibold">
                  {{this.foxnamelist.2.foxname}}
                  </h3>
                  <p 
                  class="
                  mt-5 w-[98%] mx-auto text-left
                  text-left text-sm sm:text-sm md:text-base lg:text-lg xl:text-lg">
                  {{this.foxdescriptions.2.foxdescription}}
                  </p>
                  </div>
              </div>  
             <div 
             class="image-cont 
             border-2 border-blue-200 
             rounded-md p-3 
             flex flex-col justify-around items-center">
                  <img 
                  src="{{this.foxgallary.3.url}}" 
                  class="w-[80%] sm:w-[80%] md:w-[60%] lg:w-[60%] xl:w-[60%]" 
                  alt=""
                  aria-hidden="true" />
                  <div>
                  <h3 
                  class="mt-10 font-semibold">
                  {{this.foxnamelist.3.foxname}}
                  </h3>
                  <p 
                  class="
                  mt-5 w-[98%] mx-auto text-left
                  text-left text-sm sm:text-sm md:text-base lg:text-lg xl:text-lg">
                  {{this.foxdescriptions.3.foxdescription}}
                  </p>
                  </div>
              </div>
            <div 
            class="
            image-cont 
            border-2 border-blue-200 
            rounded-md p-3 
            flex flex-col justify-around items-center">
                  <img 
                  src="{{this.foxgallary.4.url}}" 
                  class="w-[70%] sm:w-[70%] md:w-[50%] lg:w-[50%] xl:w-[50%]" 
                  alt=""
                  aria-hidden="true" />
                  <div>
                  <h3 
                  class="mt-10 font-semibold">
                  {{this.foxnamelist.4.foxname}}
                  </h3>
                  <p 
                  class="
                  mt-5 w-[98%] mx-auto text-left
                  text-left text-sm sm:text-sm md:text-base lg:text-lg xl:text-lg">
                  {{this.foxdescriptions.4.foxdescription}}
                  </p>
                  </div>
              </div>
            <div 
            class="
            image-cont 
            border-2 border-blue-200 
            rounded-md p-3 
            flex flex-col justify-around items-center">
                  <img 
                  src="{{this.foxgallary.5.url}}" 
                  class="w-[80%] sm:w-[80%] md:w-[60%] lg:w-[60%] xl:w-[60%]" 
                  alt=""
                  aria-hidden="true" />
                  <div>
                  <h3 
                  class="mt-10 font-semibold">
                  {{this.foxnamelist.5.foxname}}
                  </h3>
                  <p 
                  class="
                  mt-5 w-[98%] mx-auto text-left
                  text-left text-sm sm:text-sm md:text-base lg:text-lg xl:text-lg">
                  {{this.foxdescriptions.5.foxdescription}}
                  </p>
                  </div>
              </div>
            <div class="
            image-cont 
            border-2 border-blue-200 
            rounded-md p-3 flex flex-col 
            justify-around items-center">
                  <img 
                  src="{{this.foxgallary.6.url}}" 
                  class="w-[80%] sm:w-[80%] md:w-[60%] lg:w-[60%] xl:w-[60%]" 
                  alt=""
                  aria-hidden="true" />
                  <div>
                  <h3 
                  class="mt-10 font-semibold">
                  {{this.foxnamelist.6.foxname}}
                  </h3>
                  <p 
                  class="
                  mt-5 w-[98%] mx-auto 
                  text-left text-sm sm:text-sm md:text-base lg:text-lg xl:text-lg ">
                  {{this.foxdescriptions.6.foxdescription}}
                  </p>
                  </div>
              </div>        
    </div>

    </div>


</section>

